
div
    width: 420px
    height: 80px
    background: #D3D2D4
    border-radius: 15px
    text-align: left
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 10px

p
    padding-left: 15px
    text-align: left
    margin: 0px
    font-weight: bold

#nombre
    padding-top: 10px

#data
    padding-bottom: 10px