<app-nav-bar></app-nav-bar>

<h3>Ingreso Stock</h3>

<form #updateForm="ngForm" (ngSubmit)="updateStock(updateForm.value)">

    <input list="bebidas" autocomplete="off" placeholder="Nombre bebida" name="nombre" type="text" ngModel><br><br>

    <datalist id="bebidas"> 
        <option value="Coca-Cola">
        <option value="Sprite">
        <option value="Fernet Branca">
        <option value="Guinnes">
        <option value="American IPA">
    </datalist>

    <input placeholder="Cantidad restock" name="cantidad" type="number" ngModel><br><br>
    
    <button id="boton">restock</button>

</form>

<br><br>

<h3>Ingreso nueva bebida</h3><br>

{{tipo}}
<form #opcionForm="ngForm">

    <input placeholder = "Tipo" autocomplete="off" name = "tipo" list = "tipoBebidas" type = "text"  [(ngModel)]="tipo">

    <datalist id="tipoBebidas"> 
        <option value="Cerveza Artesanal">
        <option value="Cerveza Comercial">
        <option value="Aperitivo">
        <option value="Gaseosa">
    </datalist>

</form>


<form #insertForm="ngForm" (ngSubmit)="insertBebida(insertForm.value)">
    
    <input placeholder = "Nombre bebida" autocomplete="off" name = "nombre" type = "text" ngModel>
    <input placeholder = "Marca bebida" name = "marca" type = "text" ngModel>


    <input placeholder = "Color Cerveza" name = "color" type = "text" ngModel>
    <input placeholder = "Ibu" name = "ibu" type = "text" ngModel><br>
    <input placeholder = "Graduacion Alcoholica" name = "graduacion" type = "text" ngModel><br><br>

    

    <input placeholder = "Precio" name = "precio" type = "number" ngModel><br><br>
    <input placeholder = "Cantidad" name = "cantidad" type = "number" ngModel><br><br>
    <input placeholder = "Descripcion" name="descripcion" type = "text" ngModel><br><br>

    <button id="boton">insert</button>
</form>