<app-nav-bar></app-nav-bar>
<div >
    <h1 id="tituloStock">Ingreso Stock</h1>
</div>
<br><br><br>
<form>

    Ingrese nombre del objeto: <input name="ingresaObjeto" type="text" list="Bebidas">

    <datalist id="Bebidas">
        <option value="CocaCola">
        <option value="Sprite">
        <option value="Fernet Branca">
        <option value="Guinnes">
        <option value="Ipa jug. Perdidos">
      </datalist>
   

</form>
<br>
<form>

    Cantidad de objetos: <input name="ingresaCantidad" type="number" min="0" max="500" >

</form>
<br>
<form>
    Ingrese el nombre del proveedor:<input name="ingresaProveedor" type="text">
</form>
<br>
<input type="submit" value="Enviar datos">

