<app-nav-bar></app-nav-bar>


<h2 id="CervezaArtesanal">Cervezas Artesanales</h2>

<table class="categorias" >

    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>

    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>

    <tr>

    </tr>

</table>
<br><br>


<h2 id="CervezaComercial">Cervezas Comercial</h2>

<table class="categorias">
    
    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>

    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>

    <tr>

    </tr>

</table>
<br><br>


<h2 id="aperitivo">Aperitivo</h2>

<table class="categorias">

    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>

    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>

    <tr>

    </tr>

</table>
<br><br>


<h2 id="gaseosa">Gaseosa</h2>
    
<table class="categorias">

    <tr>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>

    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>

    <tr>

    </tr>

</table>