body
    padding: 0px
    
    
#tituloVenta 
    text-align: center   

#CervezaArtesanal
    margin-top: 5%
    text-align: center

.categorias
    align-items: center
    position: relative
    margin: 10px
    margin-left: auto
    margin-right: auto


tr
    margin: auto
    align-items: center
    margin-left: auto
    margin-right: auto
    
   
   
th
    margin: auto
    width: 33%
    align-items: center
    margin-left: auto
    margin-right: auto

#CervezaComercial
    text-align: center

#aperitivo
    text-align: center

#gaseosa
    text-align: center