body
    background-color: #684fd8
    
    
#tituloVenta 
    text-align: center   

#CervezaArtesanal
    margin-top: 5%
    text-align: center

#cervezas
    display: inline-block
    position: relative
    margin: 10px