
<app-nav-bar></app-nav-bar>
<div>
    <h1 id="tituloVenta">Realizar venta</h1>
</div>



<h2 id="CervezaArtesanal">Cervezas Artesanales</h2>

<table class="categorias" >
    
    <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
</table>
<br>
<br>
<div>
    <h2 id="CervezaComercial">Cervezas Comercial</h2>
</div>
<table class="categorias">
    <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
</table>

<br>

<div>
    <h2 id="aperitivo">Aperitivo</h2>
</div>
<table class="categorias">
    <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
</table>

<br>

<div>
    <h2 id="gaseosa">Gaseosa</h2>
</div>
<table class="categorias">
    <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
    <tr>
        <td><app-producto></app-producto></td>
        <td><app-producto></app-producto> </td>
        <td><app-producto></app-producto> </td>
    </tr>
</table>
