ul
    list-style: none
    position: absolute

    
li
    padding: 10px
    display: inline-block
    

#casita
    height: 50px
    width: 50px
    left: 1%
    top: 1px
    position: absolute



    
    