ul
    list-style: none
    position: absolute
    

li
    padding: 10px
    display: inline-block
    

a
    text-decoration: none
    border-bottom-width: 2px
    border-bottom-style: none    
    border-bottom-color: black    
    &:visited
        color: black
    &:hover
        border-bottom-style: solid

#casita
    height: 50px
    width: 50px
    left: 1%
    top: -19px
    position: absolute

hr
    width: 100%
    border-color: black
    position: absolute
    
#carrito
    width: 40px
    height: 40px
    position: absolute 
    right: -330%
    top: -10px
    cursor: pointer



